* {
    margin: 0;
    padding: 0;
}

#banner {
    background: url(/image/bg.png), url(../image/bg2.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 12em 0 29em;
    position: relative;
    left: 0;
    top: 0px;
    overflow: hidden;
    color: aliceblue;
    font-family: 'Didact Gothic', sans-serif;

}

#banner h2 {
    color: #ffffff;
    font-size: 48pt;
    line-height: 1em;
    position: relative;
    left: 590px;
    top: 98px;
    opacity: .9;
    font-family: 'Poiret One', cursive;
}

#banner p {
    position: relative;
    left: 475px;
    top: 135px;
    font-size: 18pt;
}

#banner .button {
    color: #CCEEFF;
    background-color: transparent;
    border: 1px solid #ffffff;
    border-radius: 3px;
    position: relative;
    left: 690px;
    top: 200px;
    text-decoration: none;
    font-size: 17pt;
    padding: 10px 30px 10px 30px;
}

#banner .button:hover {
    background-color: rgba(255, 255, 255, 0.2);
}


header {
    position: absolute;
    left: 0;
    top: 20px;
    left: 40px;
    right: 30px;
}

header ul li {
    display: inline-block;
}

header ul li a {
    color: #CCEEFF;
    font-size: 14pt;
    text-decoration: none;
    font-family: 'News Cycle', sans-serif;
}

header ul li a:hover {
    color: #B0C4DE;
}

#bahamas {
    color: aliceblue;
    margin: 100px 650px 50px 0px;
    font-size: 15pt;
}

#home {
    margin: 100px 0px 50px 520px;
}

#explore {
    margin: 100px 0px 50px 20px;
}

#islands {
    margin: 100px 0px 50px 20px;
}
